<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="Model1" connectionString="data source=MITRU14\MSSQLSERVERACER;initial catalog=QLSV_WinForm;persist security info=True;user id=sa;password=12;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=MITRU14\MSSQLSERVERACER;initial catalog=QuanlySV;persist security info=True;user id=sa;password=12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.SqlClient" />
    <add name="Test.Properties.Settings.QuanlySVConnectionString"
        connectionString="Data Source=MITRU14\MSSQLSERVERACER;Initial Catalog=QuanlySV;Persist Security Info=True;User ID=sa;Password=12;TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>